/**** FONTS ****/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  color: #fff; }

.navbar {
  background-color: #222222;
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%; }
  .navbar__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 3rem 0; }
    .navbar__list a {
      text-decoration: none;
      color: inherit;
      display: inline-block; }
  .navbar__logo {
    position: absolute;
    width: 15rem;
    height: 15rem;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navbar__heading {
    position: absolute;
    width: 15rem;
    height: 15rem;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.box {
  background-image: linear-gradient(rgba(255, 0, 0, 0.9), rgba(255, 0, 0, 0.9));
  clip-path: polygon(50% 0%, 83% 0, 100% 0, 100% 70%, 50% 100%, 0% 70%, 0 0, 11% 0);
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header__textbox {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 40%; }

.header__small {
  font-weight: 300;
  font-size: 1.5rem; }

.header__big {
  margin: 1.5rem 0;
  text-transform: uppercase; }

.header__img {
  position: absolute;
  bottom: 0;
  right: 7rem;
  height: 47rem;
  width: auto; }

.header__paragraph {
  margin-bottom: 1.5rem; }

.btn {
  padding: 1.2rem 3rem;
  border-radius: 100px;
  border: none; }
  .btn-right {
    margin-right: 2rem; }
  .btn-full {
    background-color: #e67e22;
    color: #fff;
    border: 2px solid transparent;
    transition: all .2s; }
    .btn-full:hover {
      color: #fff;
      background-color: #cf6d17; }
  .btn-ghost {
    background-color: #fff;
    border: 2px solid #e67e22;
    color: #e67e22;
    transition: all .2s; }
    .btn-ghost:hover {
      background-color: #e67e22;
      color: #fff;
      border: 2px solid #fff; }
  .btn:focus {
    outline: none; }

.menu {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 0 0 100%; }
  .menu__heading {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: black; }
  .menu__content {
    width: 70%;
    font-weight: 600;
    color: #4d4d4d; }
  .menu__box {
    background-color: #fff;
    padding: 2rem;
    position: relative; }
    .menu__box:not(:last-child) {
      margin-right: 5rem; }
  .menu__price {
    background-color: #4d2c21;
    display: inline-block;
    color: #fff;
    padding: .6rem 1.3rem; }
  .menu__photo {
    height: 22rem;
    width: 25rem; }
  .menu__title {
    text-align: center; }
  .menu__description {
    text-align: center;
    margin-bottom: 2rem; }
  .menu__details {
    color: #4d4d4d; }

.center-box {
  display: flex;
  margin-top: 5rem; }

.heart-icon {
  position: absolute;
  top: 25rem;
  right: 4rem;
  font-size: 2.5rem; }
  .heart-icon:hover {
    color: red; }

.btn-center {
  text-align: center; }

.search {
  margin-top: 4rem;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end; }
  .search__input {
    display: inline-block;
    padding: 2rem 3rem;
    border-radius: 100px;
    border: none;
    width: 100%;
    position: relative; }
    .search__input:focus {
      outline: none; }
  .search__button {
    height: 5rem;
    width: auto;
    padding: 1rem 2rem;
    border-radius: 100px;
    border: none;
    background-color: #c23400;
    color: #fff;
    position: absolute;
    margin-right: .5rem; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/b-4.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative; }

.content {
  padding: 10rem;
  background-color: #fdfaed;
  width: 100%; }

.footer {
  padding: 10rem;
  background: #ffba00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative; }
  .footer__logo {
    height: 10rem;
    width: 10rem;
    background-color: #ffba00;
    border-radius: 100px;
    position: absolute;
    top: -2.5rem; }
