.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/b-4.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  position: relative;
}
